<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.jwd.fShop.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/signIn</url-pattern>
        <url-pattern>/signUp</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/product</url-pattern>
        <url-pattern>/administration</url-pattern>
        <url-pattern>/users</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/orders</url-pattern>
        <url-pattern>/order</url-pattern>
        <url-pattern>/addProduct</url-pattern>
        <url-pattern>/basket</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.jwd.fShop.controller.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>
</web-app>